/bin
/obj
/old
/.vscode
/.vs
/TODO
/Debug
/Release
*.code-workspace
*.vsd
*.opensdf
*.sdf
*.user
*.vsd

/x64
/graph/x64
/extend/hmm/x64
/extend/wfst/x64
/test/graph/graph_dump.txt
/test/graph/x64
/test/wfst/x64
/test/hmm/x64



